# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.hmap
*.ipa

# Build
build/
DerivedData/
Products/

# Swift Package Manager
.build/
.swiftpm/
*.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Crashlytics / Firebase
crashlytics-build.properties

# CocoaPods (미사용이지만 예방적으로)
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Instruments
*.trace
